.soon-banner {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  background-image: url(../img-decor/5-gif.gif);
  background-position: center right;
  background-size: 100%;

  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(2, 2, 2, 0.1);
    // overlay help: https://bryanlrobinson.com/blog/how-to-css-after-elements-for-background-overlays/
  }

  .home-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
    background-color: transparent;

    h1 {
      font-size: 5rem;
      margin: 0px 0 50px 0;
      font-family: "Poppins-light";
      line-height: 32px;
      letter-spacing: 1px;
      color: rgba(255, 255, 255, 0.616);
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
    }
  }
}
